<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PokéDex - Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PokéDex - Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row *ngFor="let arr_pokemon of pokemons">

      <ion-col
        class="ion-text-center"
        *ngFor="let pokemon of arr_pokemon">

        <app-pokemon-card
          [id]="pokemon.id"
          [name]="pokemon.name"
          [image]="pokemon.official_artwork">
        </app-pokemon-card>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
